@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.eot?t=1500521096696");
  src: url("../fonts/iconfont.eot?t=1500521096696#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff?t=1500521096696") format("woff"), url("../fonts/iconfont.ttf?t=1500521096696") format("truetype"), url("iconfont.svg?t=1500521096696#iconfont") format("svg"); }
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-home:before {
  content: "\e60c"; }

.icon-guanbi:before {
  content: "\e690"; }

.icon-fangxiangyou:before {
  content: "\e67a"; }

.icon-fangxiangzuo:before {
  content: "\e686"; }

.icon-caidan:before {
  content: "\e662"; }

.icon-zengjia:before {
  content: "\e67f"; }

.icon-xiaoxi:before {
  content: "\e63e"; }

.icon-fangxiangxia:before {
  content: "\e60e"; }

.icon-shuju:before {
  content: "\e618"; }

.icon-wenhao:before {
  content: "\e714"; }

.icon-off:before {
  content: "\e501"; }

.icon-zongjichengyuanshu:before {
  content: "\e704"; }

.icon-jiajian-:before {
  content: "\e666"; }

a {
  text-decoration: none !important;
  cursor: pointer; }

ul, ol {
  list-style: none !important; }

html, body {
  width: 100%;
  background-color: #F7F7F7; }

#page {
  width: 100%;
  overflow: hidden; }

#aside {
  position: absolute;
  background-color: #2A3F54;
  z-index: 9999;
  transition: all .5s; }
  #aside .navbar {
    width: 100%;
    margin-bottom: 0; }
    #aside .navbar .return-giant {
      padding: 14px 10px; }
      #aside .navbar .return-giant a {
        text-decoration: none; }
        #aside .navbar .return-giant a i {
          font-size: 23px;
          color: #fff; }
        #aside .navbar .return-giant a span {
          font-size: 20px;
          color: #fff;
          vertical-align: top; }
    #aside .navbar .close-btn {
      display: none;
      height: 60px;
      color: #fff;
      text-align: center;
      line-height: 60px; }
      #aside .navbar .close-btn i {
        font-size: 22px; }
    #aside .navbar .user-info {
      width: 100%; }
      #aside .navbar .user-info div {
        float: left; }
      #aside .navbar .user-info .user-img {
        width: 35%; }
        #aside .navbar .user-info .user-img img {
          width: 70%;
          margin: 20px 15%;
          border-radius: 50%;
          border: 4px solid #fff; }
      #aside .navbar .user-info .user-welcome {
        width: 55%;
        padding: 20px 5%; }
        #aside .navbar .user-info .user-welcome p:first-of-type {
          color: #BAB8B8; }
        #aside .navbar .user-info .user-welcome p {
          color: #fff; }
      #aside .navbar .user-info::after {
        display: block;
        content: "";
        clear: both;
        visibility: hidden; }
    #aside .navbar .nav-slide-menu {
      width: 100%;
      padding-left: 0; }
      #aside .navbar .nav-slide-menu li.nav-list {
        width: 100%;
        list-style: none;
        position: relative; }
        #aside .navbar .nav-slide-menu li.nav-list a {
          width: 100%;
          color: #E7E7E7;
          display: inline-block;
          padding: 10px; }
          #aside .navbar .nav-slide-menu li.nav-list a i:nth-of-type(1) {
            padding: 0 10px;
            font-size: 16px; }
          #aside .navbar .nav-slide-menu li.nav-list a i:nth-of-type(2) {
            float: right;
            font-size: 16px;
            -webkit-transition: transform 0.3s;
            -moz-transition: transform 0.3s;
            -ms-transition: transform 0.3s;
            -o-transition: transform 0.3s;
            transition: transform 0.3s; }
        #aside .navbar .nav-slide-menu li.nav-list ul.child-slide-menu {
          width: 100%;
          padding-left: 0;
          display: none;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
          #aside .navbar .nav-slide-menu li.nav-list ul.child-slide-menu li {
            width: 100%;
            color: #fff;
            padding-left: 40px;
            position: relative; }
            #aside .navbar .nav-slide-menu li.nav-list ul.child-slide-menu li::before {
              content: "";
              width: 8px;
              height: 8px;
              display: block;
              background-color: #425668;
              position: absolute;
              top: 16px;
              left: 30px;
              border-radius: 50%;
              -webkit-border-radius: 50%; }
            #aside .navbar .nav-slide-menu li.nav-list ul.child-slide-menu li::after {
              content: "";
              display: block;
              width: 1px;
              height: 100%;
              background-color: #425668;
              position: absolute;
              left: 34px;
              top: 0; }
          #aside .navbar .nav-slide-menu li.nav-list ul.child-slide-menu li.current {
            background-color: rgba(255, 255, 255, 0.05); }
      #aside .navbar .nav-slide-menu li.active {
        border-right: 4px solid #1ABB9C; }
        #aside .navbar .nav-slide-menu li.active > a {
          text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
          background: linear-gradient(#334556, #2C4257), #2A3F54;
          box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0; }
        #aside .navbar .nav-slide-menu li.active i:nth-of-type(2) {
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          transform: rotate(90deg); }

#content .header {
  width: 100%;
  height: 60px;
  background-color: #EDEDED;
  border-bottom: 1px solid #D9DEE4;
  display: flex;
  display: -webkit-flex; }
  #content .header .menu-btn {
    flex: 0 0 60px;
    text-align: center; }
    #content .header .menu-btn .caidan-btn {
      font-size: 28px;
      line-height: 60px;
      cursor: pointer;
      color: #5A738E; }
  #content .header .header-title {
    flex: 0 1 auto;
    padding: 0 30px; }
    #content .header .header-title p {
      margin-top: 16px;
      line-height: 60px;
      font-size: 24px;
      margin: 0; }
  #content .header .user-manage {
    flex: 1 0 auto;
    position: relative; }
    #content .header .user-manage .user-content {
      width: 170px;
      padding: 15px 10px;
      float: right;
      cursor: pointer; }
      #content .header .user-manage .user-content img {
        width: 20%;
        border-radius: 50%;
        margin-right: 10px; }
      #content .header .user-manage .user-content:hover {
        background-color: #d9d2d2; }
    #content .header .user-manage .drop-down {
      width: 170px;
      border: 1px solid #D9DEE4;
      background-color: #fff;
      display: none;
      position: absolute;
      z-index: 9999;
      right: 0;
      top: 100%;
      padding-left: 20px; }
      #content .header .user-manage .drop-down li {
        padding: 5px 0;
        color: #5A738E; }
    #content .header .user-manage::after {
      display: block;
      content: "";
      clear: both;
      visibility: hidden; }
  #content .header .open .user-content {
    background-color: #d9d2d2; }
  #content .header .open .drop-down {
    display: block; }
#content .content {
  width: 100%;
  padding: 0 15px; }
  #content .content .data-content {
    margin: 10px 0px;
    padding: 10px 0;
    background-color: #fff;
    border-radius: 5px;
    min-width: 300px; }
    #content .content .data-content .data-item {
      text-align: center;
      margin: 0px;
      background: #fff;
      border-radius: 5px;
      padding: 10px 0; }
      #content .content .data-content .data-item p {
        color: #73879C;
        margin-bottom: 0; }
      #content .content .data-content .data-item .data-type {
        font-size: 16px; }
      #content .content .data-content .data-item .data-count {
        font-size: 30px; }
      #content .content .data-content .data-item .data-bottom {
        font-size: 16px;
        margin-bottom: 0; }
  #content .content .search-content {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    margin: 0 0px 10px; }
    #content .content .search-content div .btn-group {
      margin: 10px 0; }
    #content .content .search-content div .date-select {
      width: 100%;
      max-width: 324px;
      margin: 10px 0;
      position: relative; }
  #content .content .data-charts {
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    margin: 0 0px 10px; }
    #content .content .data-charts #myEcharts {
      width: 100%;
      height: 400px;
      padding: 15px; }

.nav-md #aside {
  width: 230px; }
.nav-md #content {
  margin-left: 230px; }

.nav-sm #aside {
  width: 70px; }
  .nav-sm #aside .user-info {
    display: none; }
  .nav-sm #aside .return-giant {
    text-align: center; }
    .nav-sm #aside .return-giant a span {
      display: none; }
  .nav-sm #aside .nav-slide-menu li.nav-list {
    text-align: center; }
    .nav-sm #aside .nav-slide-menu li.nav-list a {
      letter-spacing: 3px; }
      .nav-sm #aside .nav-slide-menu li.nav-list a i:nth-of-type(1) {
        font-size: 30px !important;
        padding: 0 12px 0 8px !important; }
      .nav-sm #aside .nav-slide-menu li.nav-list a i:nth-of-type(2) {
        display: none; }
    .nav-sm #aside .nav-slide-menu li.nav-list ul.child-slide-menu {
      position: absolute;
      left: 64px;
      width: 120px;
      background: #3E5367;
      top: 0; }
      .nav-sm #aside .nav-slide-menu li.nav-list ul.child-slide-menu li {
        padding-left: 10px; }
        .nav-sm #aside .nav-slide-menu li.nav-list ul.child-slide-menu li::after {
          display: none; }
        .nav-sm #aside .nav-slide-menu li.nav-list ul.child-slide-menu li::before {
          display: none; }
.nav-sm #content {
  margin-left: 70px; }

@media screen and (max-width: 1000px) {
  .nav-md #aside {
    width: 70px;
    margin-left: 0px; }
    .nav-md #aside .nav-slide-menu li {
      text-align: center; }
      .nav-md #aside .nav-slide-menu li a {
        letter-spacing: 3px; }
        .nav-md #aside .nav-slide-menu li a i:nth-of-type(1) {
          font-size: 30px !important;
          padding: 0 12px 0 8px !important; }
        .nav-md #aside .nav-slide-menu li a i:nth-of-type(2) {
          display: none; }
      .nav-md #aside .nav-slide-menu li ul.child-slide-menu {
        position: absolute;
        left: 64px;
        width: 120px !important;
        background: #3E5367;
        top: 0; }
        .nav-md #aside .nav-slide-menu li ul.child-slide-menu li {
          padding-left: 10px !important; }
          .nav-md #aside .nav-slide-menu li ul.child-slide-menu li::after {
            display: none !important; }
          .nav-md #aside .nav-slide-menu li ul.child-slide-menu li::before {
            display: none !important; }
  .nav-md #content {
    margin-left: 0px; }

  .nav-sm #aside {
    width: 70px;
    margin-left: -100%; }
    .nav-sm #aside .navbar .nav-slide-menu li {
      text-align: center; }
  .nav-sm #content {
    margin-left: 0px; }

  #aside .navbar .return-giant {
    display: none; }
  #aside .navbar .user-info {
    display: none; }
  #aside .navbar .close-btn {
    display: block; }

  #content .header .header-title {
    padding: 0 0; }
    #content .header .header-title p {
      font-size: 16px; }
  #content .content {
    padding: 0 5px; }
    #content .content .search-content div .btn-group button.btn {
      padding: 6px 6px; }
    #content .content .search-content div .date-select {
      width: 99%; }
    #content .content .data-charts {
      width: 100%;
      border-radius: 5px;
      background-color: #fff; }
      #content .content .data-charts #myEcharts {
        width: 100%;
        height: 400px;
        padding: 15px; } }
#content .content .data-content .fenlei {
  margin-bottom: 10px; }

/*# sourceMappingURL=lxl.css.map */
